[user]
  email = <email>
  name = <name>

[alias]
  # The basic aliases
  s = status
  cm = commit -m
  cp = cherry-pick

  # Branch related aliases
  br = branch
  co = checkout
  com = checkout master
  cod = checkout develop

  # Syncing related aliases
  pur = pull --rebase
  prune = fetch --prune

  # Rebase related aliases
  ri = rebase -i
  rb = "!sh -c \"git rebase -i HEAD~$1\" -"
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip
  rod = rebase origin/develop
  rom = rebase origin/master

  # Stash related aliases
  poop = stash pop

  # Push related aliases
  pom = push origin master
  pod = push origin develop
  force = push --force-with-lease

  # Mistake related aliases
  abort = checkout -- .
  wait = reset HEAD
  undo = reset --soft HEAD^
  amend = commit --amend

  # Diff related aliases
  changes = diff --name-status
  dic = diff --cached
  diffstat = diff --stat
  lg = log --pretty=oneline --abbrev-commit --graph --decorate
  count = "!f() { git rev-list --count HEAD ^${1-develop}; }; f"

  #
  # Working with branches
  #

  # Get the current branch name (not so useful in itself, but used in other aliases)
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  # Push the current branch to the remote "origin", and set it to track the upstream branch
  publish = "!git push -u origin $(git branch-name)"
  # Delete the remote version of the current branch
  unpublish = "!git push origin :$(git branch-name)"
  # Delete any branches that have been merged into master
  # See also: https://gist.github.com/robmiller/5133264
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  #
  # Working with files
  #

  # Unstage any files that have been added to the staging area
  unstage = reset HEAD
  # Show changes that have been staged
  diffc = diff --cached

  # Remove files that are in .gitingore
  sync-ignore = "!git rm --cached `git ls-files -i --exclude-from=.gitignore`"

[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true

[transfer]
  fsckobjects = true

[fetch]
  fsckobjects = true

[receive]
  fsckObjects = true

[pull]
  ff = only

[push]
  default = current

[status]
  showUntrackedFiles = all

[core]
  pager = delta
  
[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
  
[interactive]
  diffFilter = delta --color-only
