# Common
alias ..="cd .."
alias ...="cd ../.."
alias h="cd ~"
alias c="clear"
alias ll="ls -lahG"
alias work="cd ~/Code"
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# Laravel
alias art="php artisan"
alias tinker="php artisan tinker"
alias migrate="php artisan migrate"
alias refresh="php artisan migrate:refresh --seed"
alias code_sniff="php-cs-fixer --verbose fix"

# Test
alias codecept='vendor/bin/codecept'
alias crf='codecept run functional'
alias cgf='codecept generate:cept functional'
alias cra='codecept run acceptance'
alias cga='codecept generate:cept acceptance'
alias cr='codecept run'
alias phpspec='vendor/bin/phpspec'
alias test='vendor/bin/phpunit'
alias tf='vendor/bin/phpunit --filter'
alias start_phantomjs='vendor/bin/phantomjs --webdriver=4444 --webdriver-loglevel=NONE --ignore-ssl-errors=true --ssl-protocol=any &'
alias stop_phantomjs='pgrep phantomjs | xargs kill'
alias start_selenium='selenium-server -port 4444'
alias stop_mysql='pgrep mysql | xargs kill'

# Git
alias gs='git status'
alias gaa='git add'
alias gc='git commit -m'
alias gpush='git push'
alias gpull='git pull'
alias gch='git checkout'
alias gdiff='git diff'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias nah="git reset --hard && git clean -df"
alias wip="git add . && git commit -m 'wip'"
#alias cleanup-dev-branches="!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"

# GitFlow
alias gff='git flow feature'
alias gfl='git flow release'
alias gfh='git flow hotfix'

# Bindings
bindkey -e
#bindkey '^[[1;9C' forward-word
#bindkey '^[[1;9D' backward-word

# Forward  words
bindkey "\e\e[D" backward-word
# Go end of line
bindkey "\e\e[C" end-of-line
# or if you prefer going word by word to the end:
# bindkey "\e\e[C" forward-word


#####
# VM
alias vm='ssh vagrant@127.0.0.1 -p 2222'
alias v='vagrant version && vagrant global-status'
alias vst='vagrant status'
alias vup='vagrant up'
alias vdo='vagrant halt'
alias vssh='vagrant ssh'
alias vkill='vagrant destroy'

# reload bash aliases
reload () {
    echo "Reloading bash aliases"
    source "${HOME}/.zshrc"
}